@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors";

html,
body {
  height: 100%;
  overflow: hidden;
}

.light {
  background-color: $light;
  color: black;
}

.dark {
  background-color: $dark;
  color: white;
}

.light-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 7px;
}

.light-card:hover {
  background-color: #e7e5e4;
}

.dark-card {
  box-shadow: -6px 3px 5px 0px rgba(109, 101, 101, 0.6),
    0px 3px 6px 0px rgba(245, 245, 245, 0.22),
    0px 5px 10px 0px rgba(245, 245, 245, 0.2);
  border-radius: 7px;
}

.dark-card:hover {
  background-color: #1e293b;
}

.light-text {
  color: black;
}

.dark-text {
  color: #e5e5e5;
}

.light-border {
  background-color: $light;
  border: solid 1px #d1d5db;
}

.dark-border {
  background-color: $dark;
  border: solid 1px #4b5563;
}

.dark-border:hover {
  background-color: #1e293b;
}

.light-border:hover {
  background-color: #e7e5e4;
}

// Pagination Styles

.light-current{
  background-color: #e0e7ff;
}



.dark-current{
  background-color: #334155;

}

.dark-current:hover {
  background-color: #334155;
}


.light-selected {
  background-color: transparent;
}

.light-selected:hover {
  background-color: #e7e5e4;
}

.dark-selected{
  background-color: transparent;
}

.dark-selected:hover {
  background-color: #334155;
}
